.Questions {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  margin-bottom: 100px;
}

.Questions h2 {
  font-weight: 400;
  text-align: right;
  text-transform: uppercase;
  margin-left: 100px;
}

.Questions span {
  font-family: Tangerine;
  text-transform: lowercase;

  font-size: 150px;
  color: #e5acaa;

  margin: -80px 0 30px 0;
}

.questionsBox {
  width: 80%;
  
  background-color: #e5acaa;
  border: 5px solid #e5acaa;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.questionsBox:not(:first-child), .questionsBox:not(:first-child){
  border-bottom: 0;
}
.questionsBox:not(:last-child){
  border-bottom: 0;
}
.questionCard {
  margin-bottom: 5px;
  width: 100%;
}

.questionTitleCard button {
  display: flex;
  align-items: center;

  background-color: #000;
  color: #f6c6c5;

  font-family: Urbanist;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;

  letter-spacing: 0.05em;
  padding: 15px;
  width: 100%;
}

.questionTitleCard h3 {
  margin-left: 20px;
}

.questionAnswer {
  background-color: #e5acaa;
  color: #000;

  padding: 25px;
  font-size: 22px;
}

.hidden{
  display: none
}

