.Timer {
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.Timer h2 {
  text-transform: uppercase;
}

.cardsTime {
  display: flex;
}

.coverTime {
  margin: 20px;
  text-align: center;
}

.coverTime .time {
  font-family: Urbanist;
  font-style: normal;
  font-weight: bold;
  font-size: 100px;
  line-height: 51px;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #fff;

  width: 245px;
  height: 145px;
  background: #dfa4a2;
}

.coverTime .nameTime {
  background-color: #000;
  height: 66px;
  color: #fff;

  font-family: Urbanist;
  font-style: normal;
  font-weight: 600;
  font-size: 34px;
  line-height: 51px;

  display: flex;
  align-items: center;
  justify-content: center;

  text-transform: uppercase;
}

.Timer button {
  margin-top: 50px;
  background: linear-gradient(
    91.54deg,
    #e5acaa -0.8%,
    #ffd3d1 49.08%,
    #e5acaa 100.02%
  );
  width: 437px;
  height: 85.51px;
}

.Timer button a {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 95.06%;

  text-align: center;
}
