.Offer {
  display: grid;
  grid-template-columns: 50% 50%;

  padding: 70px;
}

.Offer div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.primeiraColunaOffer {
  align-items: center;
}

.primeiraColunaOffer ul li {
  font-family: Cormorant Garamond;
  font-style: normal;
  font-weight: 100;
  font-size: 30px;
  line-height: 64px;
  text-transform: uppercase;
}

.segundaColunaOffer h2 {
  font-family: Cormorant Garamond;
  max-width: 450px;
  font-size: 40px;
  font-weight: 300;
  text-transform: uppercase;

  color: #C59E76;
}

.segundaColunaOffer h4 {
  font-size: 24px;
  text-decoration: line-through;
  font-family: Urbanist;
  margin-bottom: 20px;
}

.segundaColunaOffer h3 {
  font-family: Urbanist;
  font-style: normal;
  font-weight: bolder;
  font-size: 60px;
  line-height: 51px;
  margin-bottom: 20px;

  text-transform: uppercase;
}

.segundaColunaOffer button {
  background: linear-gradient(
    92.84deg,
    #C59E76 0%,
    #DABA9A 50%,
    #C59E76 100%
  );
  width: 238px;
  height: 53px;
}

.segundaColunaOffer button a {
  font-family: Urbanist;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 95.06%;

  text-align: center;
}

.segundaColunaOffer button p {
  font-family: Cormorant Garamond;
  font-size: 18px;
  line-height: 24px;

  letter-spacing: 0.13em;
  text-transform: uppercase;
}


@media screen and (max-width: 850px) {
  .primeiraColunaOffer ul li {
    font-size: 24px;
    line-height: 44px;
  }
  
  .segundaColunaOffer button {
    margin-bottom: 20px;
  }

  .segundaColunaOffer h2 {
    max-width: 450px;
    font-size: 30px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 600px) {
  .Offer {
    display: block;
    padding: 50px;
  }
  
  .primeiraColunaOffer{
    padding: 10px;
  }

  .primeiraColunaOffer ul li {
    font-size: 24px;
    line-height: 44px;
  }

  .primeiraColunaOffer {
    align-items: flex-start;
  }

  .segundaColunaOffer {
    margin-top: 20px;
    align-items: center;
    text-align: center;
  }

  .segundaColunaOffer button {
    margin-bottom: 20px;
  }

  .segundaColunaOffer h2 {
    max-width: 450px;
    font-size: 30px;
    margin-bottom: 20px;
  }
  .valorBotao{
    display:flex;
    align-items: center;
  }
} 