.Depositions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 70px 0;

  background: rgba(200, 155, 106, 1);
  background: -moz-linear-gradient(
    left,
    rgba(200, 155, 106, 1) 0%,
    rgba(240, 208, 178, 1) 48%,
    rgba(240, 208, 178, 1) 52%,
    rgba(200, 155, 106, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    right top,
    color-stop(0%, rgba(200, 155, 106, 1)),
    color-stop(48%, rgba(240, 208, 178, 1)),
    color-stop(52%, rgba(240, 208, 178, 1)),
    color-stop(100%, rgba(200, 155, 106, 1))
  );
  background: -webkit-linear-gradient(
    left,
    rgba(200, 155, 106, 1) 0%,
    rgba(240, 208, 178, 1) 48%,
    rgba(240, 208, 178, 1) 52%,
    rgba(200, 155, 106, 1) 100%
  );
  background: -o-linear-gradient(
    left,
    rgba(200, 155, 106, 1) 0%,
    rgba(240, 208, 178, 1) 48%,
    rgba(240, 208, 178, 1) 52%,
    rgba(200, 155, 106, 1) 100%
  );
  background: -ms-linear-gradient(
    left,
    rgba(200, 155, 106, 1) 0%,
    rgba(240, 208, 178, 1) 48%,
    rgba(240, 208, 178, 1) 52%,
    rgba(200, 155, 106, 1) 100%
  );
  background: linear-gradient(
    to right,
    rgba(200, 155, 106, 1) 0%,
    rgba(240, 208, 178, 1) 48%,
    rgba(240, 208, 178, 1) 52%,
    rgba(200, 155, 106, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c89b6a', endColorstr='#c89b6a', GradientType=1 );
}

.Depositions h2,
.Depositions span {
  text-align: center;
}

.Depositions h2 {
  font-style: normal;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
}

.Depositions span {
  font-family: Tangerine, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;
  line-height: 50px;

  text-transform: lowercase;
  color: #000;
}

.slide {
  display: flex;
  align-items: center;
  max-width: 90%;
  padding-bottom: 20px;
  overflow-x: auto;
}

.slide::-webkit-scrollbar {
  background-color: #ccc;
  height: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: #be7e75;
}

.Depositions video {
  margin: 50px 20px 0 0;
}

@media screen and (max-width: 520px) {
  .Depositions h2 {
    font-size: 25px;
    line-height: 36px;
  }

  .Depositions span {
    font-size: 70px;
    line-height: 50px;
  }
}
