.depositionsSection{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: -180px;
}

.Depositions {
  display: flex;
  flex-direction: column;
  padding: 70px 0;
  margin-bottom: -200px;

  background-color: #73263C;
  width: 65%;
  height: 450px
}

.Depositions h2,
.Depositions span {
  text-align: center;
}

.Depositions h2 {
  text-transform: uppercase;
  font-weight: normal;
  font-family: Urbanist, Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-style: normal;
  color: #FFF;
  line-height: 36px;
}

.Depositions span {
  font-family: Tangerine, Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 120px;
  line-height: 50px;

  text-transform: lowercase;
  color: #FFF;
}

.depositionsBorder{
  width: 70%;
  height: 100px;
  border: 15px solid #E9C4A0;
  border-top: 0;
  margin: 0 auto;
  margin-top: -70px;
}

@media screen and (max-width: 900px) {
  .borderDepositions{
    border: 20px solid transparent!important
  }
}

@media screen and (max-width: 730px) {
  .Depositions {
    margin-bottom: -200px;
    padding-top: 50px;
    
    width: 90%;
    height: 370px
  }

  .depositionsSection{
    margin-top: -320px;
  }

  .Depositions h2 {
    font-size: 25px;
    line-height: 36px;
  }

  .Depositions span {
    font-size: 70px;
    line-height: 50px;
  }

  .video video{
    width: 350px
  }

  .depositionsBorder{
    display: none
  }
}