.containerCard {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.Cards .card {
  display: flex;
  align-items: center;
  flex-direction: column;

  margin-bottom: 20px;
  padding: 50px 20px;

  width: 24em;
  height: 24em;
  border-radius: 50px;

  border: none;
  background: rgba(229, 172, 170, 1);
  background: -moz-linear-gradient(
    top,
    rgba(229, 172, 170, 1) 0%,
    rgba(229, 172, 170, 1) 15%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-gradient(
    left top,
    left bottom,
    color-stop(0%, rgba(229, 172, 170, 1)),
    color-stop(15%, rgba(229, 172, 170, 1)),
    color-stop(100%, rgba(255, 255, 255, 1))
  );
  background: -webkit-linear-gradient(
    top,
    rgba(229, 172, 170, 1) 0%,
    rgba(229, 172, 170, 1) 15%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(229, 172, 170, 1) 0%,
    rgba(229, 172, 170, 1) 15%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(229, 172, 170, 1) 0%,
    rgba(229, 172, 170, 1) 15%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(229, 172, 170, 1) 0%,
    rgba(229, 172, 170, 1) 15%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e5acaa', endColorstr='#ffffff', GradientType=0 );
}

.conteudoCard{
  padding: 0 20px 20px 20px;
}

.card h2 {
  text-transform: uppercase;
  text-align: center;

  font-weight: 500;
  font-size: 30px;

  margin-bottom: 30px;
}

.card p {
  font-family: Urbanist;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;

  line-height: 29px;

  text-align: center;
}

.Card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

@media screen and (max-width: 970px) {
  .Card {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 970px) {
  .Cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  .Card {
    display: block;
    margin-bottom: 0px;
  }

  .Cards .card {
    margin-bottom: 0;
    width: 90%;
    height: 100%;
  }
}
