* {
  margin: 0;
  padding: 0;
}

button {
  background-color: transparent;
  border: none;
}

a {
  color: var(--preto);
  text-decoration: none;
}

h1,
h2 {
  font-family: Cormorant, Arial, Helvetica, sans-serif;
  font-size: 40px;
}

p{
  font-family: Urbanist, Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar{
  background-color: #CCC;
  width: 5px;
}

::-webkit-scrollbar-thumb{
  background-color: #be7e75;
}

.Card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}